.canvasContainer {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
canvas[resize] {
  position: fixed;
  width: 100%;
  height: 100%;
}
canvas {
  background-color: var(--color-canvas-background);
}
