.projectInfo {
  color: var(--color-neon);
}
.toolsBar {
  bottom: 0px;
  left: 0px;
  background-color: var(--color-darker);
}
.toolsList {
  display: flex;
  flex-direction: row;

  font-size: large;
  border-top: 2px solid var(--color-neutral-light);
  width: 100vw;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.toolsList::-webkit-scrollbar {
  display: none;
}
.tool {
  cursor: pointer;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  white-space: nowrap;
  color: var(--color-neon);
  transition: all 200ms ease-out;
}
.tool.active {
  color: var(--color-neoner);
  background-color: var(--color-neutral-light);
}
.tool:hover {
  color: var(--color-neoner);
}
.modifier {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 3px;
  margin-bottom: 10px;
  background-color: var(--color-neutral);
  height: fit-content;
  white-space: nowrap;
  line-height: 2px;
  opacity: 0.8;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  color: var(--color-neon);
}
.modifier::-webkit-scrollbar {
  display: none;
}
.modifiersList > .container {
  display: flex;
  flex-direction: column;
  height: 15vh;
  background-color: var(--color-neutral-light);
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.modifiersList > .container::-webkit-scrollbar {
  display: none;
}
.modifiersList {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-darker);
  padding-top: 15px;
}
/* 
<div class="toolsBar overlay">
    <div class="content">
        <div class="modifiersList">
            <div class="container">
                <div class="modifier color">color : red</div>
                <div class="modifier color">width : 2</div>
                <div class="modifier color">flow : smooth</div>
            </div>
        </div>
        <div class="toolsList">
            <div class="tool active">sketch</div>
            <div class="tool false">shape</div>
            <div class="tool false">shadow</div>
            <div class="tool false">blend</div>
        </div>
    </div>
</div>
 */
