* {
  user-select: none;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --color-darker: rgb(24, 28, 31);
  --color-dark: rgb(8, 39, 53);

  --color-neutral: rgb(42, 48, 53);
  --color-neutral-light: rgb(57, 68, 78);
  --color-neon: rgb(94, 233, 255);
  --color-neoner: rgb(228, 250, 253);

  --color-canvas-background: rgb(204, 204, 204);
  --handle-thickness: 15;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
.overlay {
  position: fixed;
  z-index: 10;
}
